<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/saved-articles">Saved</a>
        </li>
    </ul>
    <div id="pull-right">
        <button type="submit" class="btn btn-success" id="scrape-btn" data-toggle="modal" data-target="#scrapeModal">Scrape</button>
        <button type="submit" class="btn btn-danger" id="clear-btn">Clear</button>
    </div>
</nav>