#scrape-btn,
#clear-btn {
    margin-left: 10px;
}

.panel-heading {
    background-color: rgb(52,58,64);
    text-align: center;
}

.panel-title,
.card-header {
    color: #fff;
    font-weight: bold;
}

.header-left {
    float: left;
    width: 85%;
    display: inline;
}

.header-right {
    float: right;
    display: inline;
}

#save-btn,
#return-btn {
    border: 2px solid #fff;
}

/* .well {
    background-color: rgb(233,236,239);
    border: 3px solid rgb(52,58,64);
    border-radius: 10px;
} */